@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-montserrat);
  @apply bg-gray-50 text-gray-800;
}

/* Custom Animation Utility */
@keyframes pulse-slow {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
}

.animate-pulse-slow {
  display: inline-block; /* Tambahkan ini agar transform scale bekerja */
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
